root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[*.{kt,kts}]
ktlint_code_style = intellij_idea
max_line_length = 140
ij_kotlin_name_count_to_use_star_import = 2147483647
ij_kotlin_name_count_to_use_star_import_for_members = 2147483647
ij_kotlin_allow_trailing_comma = true
ij_kotlin_allow_trailing_comma_on_call_site = true
# 함수 이름에 백틱(` `) 사용된 테스트 메서드 허용
ktlint_function_naming_ignore_when_annotated_with = Test, ParameterizedTest

[*.{yml,yaml,json,md}]
indent_size = 2

[Makefile]
indent_style = tab
